*{
    box-sizing: border-box; evita di sbordare all'infuori
    margin 0;
    padding 0;
}

/*header*/
#name{
    display: inline-block;
    font-size: 30px;
}

.container{
    height: 100px;
    line-height: 10px;
    margin-left: 2%;
}

#logo{
    height: 50%;
    vertical-align: middle;
}
/*fine header*/

/*main*/
main{
    margin-top: 20px;
    margin-left: 25%;
}

#button1{
    border-radius: 15%;
    height: 30px;
    background-color: rgb(2, 218, 247);
    color: white;
}

#button2{
    border-radius: 15%;
    height: 30px;
    color: grey;
    background-color: white;
}

.ul-primary{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    list-style-image: url(../img/download.png);
}

.editorial{
   border-radius: 15%;
   background-color: aqua; 
   color: white;
}

.Q1-goals{
    border-radius: 15%;
    background-color: purple;
    color: white;
}

.Recrutiling{
    border-radius: 15%;
    background-color:green;
    color: white;
}

.Website{
    border-radius: 15%;
    background-color: violet;
    color: white;
}

.Mobile{
    border-radius: 15%;
    background-color: orange;
    color: white;
}

.Sales{
    border-radius: 15%;
    background-color: olive;
    color: white;
}

.check{
    margin-top: 10px;
    font-family: sans-serif;
    list-style-image: url(../img/Yes_Check_Circle.svg\ \(1\).png);
    font-size: 15px;
}

.cross{
    margin-top: 10px;
    font-family: sans-serif;
    list-style-image: url(../img/red-cross-in-circle-1147526\ \(1\).jpg);
    font-size: 15px;
}
/*fine main*/

